server:
  port: 8088

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:/home/joe/.IdeaProjects/HW5-Notification-Service/ext-config